/*Ajustes dos Padrões de Formatação */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


.fixFloat {
	clear: both;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #967749;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background: #ad884f;
	border-radius: 5px 5px 5px 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #c9a876;
}

/*corpo do site*/
body {
	background-color: #cdab78;
	background-image: url("imagens/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	width: 100%;
	padding: 0px;
	overflow-y: scroll;
}

/*Cabeçalho*/
header {
	width: 960px;
	margin-left: 10000%;
}


/*Conteúdo index*/

/*menu*/

.fundo {
	display: block;
	background-color: #FCF6DB;
	width: 100px;
	border-radius: 20px;
	margin-right: 10px;
	margin-left: 1px;
	margin-top: 50px;
	transition: 300ms;
}

.fundo:hover {
	width: 120px;

}

#menu {
	width: 10%;
}



#menu img:hover {
	width: 40px;
	height: auto;
	transition: 300ms;
	border: solid black;
	border-radius: 100%;



}


#menu ul {
	list-style: none;
	margin-top: -40px;
	padding: 0;
	padding-left: 25px;

}

#menu li {
	margin-bottom: 60px;
	padding-top: 0px;
}

#menu p {
	font-family: 'Arial';	
}


/* cor do titulo*/
.tit_armario {
	color: #462715;
	margin-left: 30px;
	font-size: 80px;
}

.linha {
	height: 2px;
	width: 81%;
	border: 0;
	background-color: black;
	float: left;
	margin-top: 4px;
}

/*info_escrita*/

#escrita img {
	display: flex;
	align-content: center;
	align-items: center;
	float: inline-end;
	width: 300px;
	height: auto;
	margin-left: 40px;
	border-radius: 10px;
	border: solid;
	border-width: 5px;
	border: 100%;
	background-color: #c99a54;
	border-color: #462715;
	transition: 300ms;
}

#escrita img:hover {
	width: 302px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#escrita {
	margin-top: -35%;
	margin-left: 17%;
	width: 960px;
}

#escrita li {
	margin-top: 1rem;

}

#escrita h3 {
	display: flex;
	align-content: center;
	font-size: 24px;
	margin-right: 23%;
	padding-top: 25px;
	cursor: default;
}

.titulo {
	font-weight: bold;
	list-style: disc;
	color: #462715;
	font-size: 50px;
	

}

.titulo font:hover {
	transition: 300ms;
	color: #66412c;
	cursor: default;
}

.titulo font:active {
	transition: 300ms;
	color: #66412c;
	cursor: default;
	font-size: 70px;
}


/*armario*/

#minhapecas {
	margin-top: -40%;
	margin-left: 17%;
	width: 960px;
}

#minhapecas li {
	margin-top: 1rem;
}

#minhapecas h3 {
	font-size: 24px;
	margin-right: 23%;
}

.minha_peca {
	font-weight: bold;
	list-style: disc;
	color: #462715;
	font-size: 50px;
}


#minhapecas details {
	width: 140px;
	padding-top: 10px;
	margin-left: 10px;

	transition: 300ms;
}

#minhapecas details:hover {
	width: 150px;

}


#minhapecas summary {
	display: block;
	cursor: pointer;
	border-radius: 10px;
	height: 30px;
	background: #9F775F;
	font: 12pt Arial;
	color: white;
	font-weight: bold;
	padding: 10px 1px 0px 10px;

}

#minhapecas details[open] summary {
	color: #FFF;
	background: #9F775F;
}

#minhapecas summary::marker {
	content: ' ';

}

/* peças */

.peca ul {
	list-style: none;
	display: flex;
	align-content: center;
	width: 100%;
	height: auto;
	margin-bottom: 10%;
}

.peca_style {
	display: flex;
	list-style: none;
	justify-content: space-around;
	margin-top: 4px;
	margin-right: 10px;
	border-color: black;
	border: solid;
	align-content: center;
	width: 100px;
	height: 100px;
	border-radius: 5%;
	transition: 300ms;
}

.peca_style:hover {
	border-radius: 20%;
	transition: 300ms;
	height: 150px;
	width: 150px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*estilos*/

#estilo {
	margin-top: -40%;
	margin-left: 17%;
	width: 960px;
}

#estilo li {
	margin-top: 1rem;
}

.tit_estilo {

	font-weight: bold;
	list-style: disc;
	color: #462715;
	font-size: 50px;
}

.tit_estilo:hover {
	transition: 300ms;
	color: #66412c;
	cursor: default;
}


#tipo_estilo details {
	width: auto;
	padding-top: 10px;
	cursor: default;

}



#tipo_estilo summary {
	display: block;
	cursor: pointer;
	border-radius: 10px;
	height: 30px;
	background: #9F775F;
	font: 12pt Arial;
	color: white;
	font-weight: bold;
	padding: 10px 1px 0px 10px;
	transition: 300ms;
	width: 140px;

}

#tipo_estilo summary:hover{
	transition: 300ms;
	width: 150px
	
}



#tipo_estilo p {
	color: whitesmoke;
	border: 20px solid #816842;
	background-color: #816842;
	border-radius: 10px;
	display: flex;
	font-size: 1.3em;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}


#tipo_estilo img{
	display: flex;
	align-content: center;
	align-items: center;
	float: inline-end;
	width: 150px;
	height: 200px;
	margin-left: 40px;
	margin-top: 10px;
	border-radius: 10px;
	border: solid;
	border-width: 5px;
	border: 100%;
	background-color: #c99a54;
	border-color: #462715;
	transition: 300ms;
}



































/*Footer Alto*/

.footer__alto {
	display: block;
	background-color: #b1946a;
	height: 26rem;
	text-align: center;
	height: 30rem;
	margin-top: 10rem;
}

.footer__alto__categorias {
	display: inline;
	list-style: none;
	height: 20rem;
}

.footer__alto__categorias__colunas {
	height: 20rem;
	width: auto;
	display: table-cell;
	padding-top: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 2.5rem;
	text-align: left;
	border: none;
	position: relative;

	font-family: 'Open Sans';
	font-size: 16px;
}

.footer__alto__titulo {
	font-family: "League Spartan", sans-serif;
	font-weight: 800;
	font-size: 31px;
	margin-top: 3rem;
}

.footer__alto__categorias__colunas ul {
	display: table-row-group;
	list-style: none;
	position: relative;
	top: 1.7rem;
	margin: auto;
}

.footer__alto__categorias__colunas li {
	height: auto;
	width: auto;
	padding-bottom: 1.2rem;
	display: list-item;
	text-align: left;
	vertical-align: middle;
	border: none;
	font-size: 14px;
	color: #323232;
}

.footer__alto__categorias__colunas__lista__item a {
	text-decoration: none;
	color: #323232;
}

.footer__alto__categorias__colunas__lista__item__certificado {
	width: 6rem;
	border-radius: 5px;
}

.footer__alto__categorias__colunas__lista__item__linha {
	display: table-cell-group;
	list-style: none;
	margin: auto;
}

.footer__alto__categorias__colunas__lista__item__linha li {
	position: relative;
	bottom: 1.7rem;
	display: table-cell;
	padding-right: 1rem;
}

.footer__alto__categorias__colunas__lista__item__linha img {
	width: 2.5rem;
}

.footer__alto__categorias__colunas__lista__item__bandeira {
	border-radius: 10px;
}


/*Footer Baixo*/
.footer__baixo {
	display: block;
	background-color: #323232;
	height: 14rem;
	text-align: center;
}

.footer__baixo ul {
	display: inline-block;
	list-style: none;
	position: relative;
	top: 4rem;
	margin: auto;
}

.footer__baixo li {
	height: auto;
	width: auto;
	display: table-cell;
	padding-right: 0.5rem;
	text-align: center;
	vertical-align: middle;
	border: none;
	font-size: 14px;
	color: #d9d9d9;
}

.footer__baixo ul li a {
	font-family: 'Arial';
	text-decoration: none;
	color: #d9d9d9;
}

.footer__baixo p {
	display: inline-block;
	position: relative;
	top: 8rem;
	font-family: 'Arial';
	font-size: 12px;
	color: #d9d9d9;
}